In [3]:
import pandas as pd
df = pd.read_csv('C:/Users/mosto/REPOSITORY/Prediction_of_Insurance_Premium/data/auto_insurance_data.csv')
df.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [4]:
pd.options.display.max_columns=999

In [5]:
df.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [6]:
df.shape

(9134, 24)

In [8]:
from pandas_profiling import ProfileReport

In [10]:
df.dtypes

Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
dtype: object

In [12]:
df['Activation_date'] = pd.to_datetime(df['Effective To Date'], infer_datetime_format = True)

In [13]:
df.dtypes

Customer                                 object
State                                    object
Customer Lifetime Value                 float64
Response                                 object
Coverage                                 object
Education                                object
Effective To Date                        object
EmploymentStatus                         object
Gender                                   object
Income                                    int64
Location Code                            object
Marital Status                           object
Monthly Premium Auto                      int64
Months Since Last Claim                   int64
Months Since Policy Inception             int64
Number of Open Complaints                 int64
Number of Policies                        int64
Policy Type                              object
Policy                                   object
Renew Offer Type                         object
Sales Channel                            object
Total Claim Amount                      float64
Vehicle Class                            object
Vehicle Size                             object
Activation_date                  datetime64[ns]
dtype: object

In [14]:
df.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Activation_date
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize,2011-02-24
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize,2011-01-31
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize,2011-02-19
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize,2011-01-20
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize,2011-02-03

In [17]:
df = df.drop(columns=['Customer','Effective To Date'])

In [18]:
df.head()

,State,Customer Lifetime Value,Response,Coverage,Education,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Activation_date
0,Washington,2763.519279,No,Basic,Bachelor,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize,2011-02-24
1,Arizona,6979.535903,No,Extended,Bachelor,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize,2011-01-31
2,Nevada,12887.431650,No,Premium,Bachelor,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize,2011-02-19
3,California,7645.861827,No,Basic,Bachelor,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize,2011-01-20
4,Washington,2813.692575,No,Basic,Bachelor,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize,2011-02-03

In [19]:
df.head()

,State,Customer Lifetime Value,Response,Coverage,Education,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Activation_date
0,Washington,2763.519279,No,Basic,Bachelor,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize,2011-02-24
1,Arizona,6979.535903,No,Extended,Bachelor,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize,2011-01-31
2,Nevada,12887.431650,No,Premium,Bachelor,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize,2011-02-19
3,California,7645.861827,No,Basic,Bachelor,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize,2011-01-20
4,Washington,2813.692575,No,Basic,Bachelor,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize,2011-02-03

In [30]:
df['Coverage'].value_counts()

Basic       5568
Extended    2742
Premium      824
Name: Coverage, dtype: int64

In [31]:
coverage_dictionary = [{'col': 'Coverage','mapping':{"Basic":1, "Extended":2, "Premium": 3}}]

In [36]:
import category_encoders as ce

coverage_encoder = ce.OrdinalEncoder(cols = 'Coverage', mapping=coverage_dictionary)
df = coverage_encoder.fit_transform(df)

df['Coverage'].value_counts()

1    5568
2    2742
3     824
Name: Coverage, dtype: int64

In [37]:
df.head()

,State,Customer Lifetime Value,Response,Coverage,Education,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Activation_date
0,Washington,2763.519279,No,1,Bachelor,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize,2011-02-24
1,Arizona,6979.535903,No,2,Bachelor,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize,2011-01-31
2,Nevada,12887.431650,No,3,Bachelor,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize,2011-02-19
3,California,7645.861827,No,1,Bachelor,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize,2011-01-20
4,Washington,2813.692575,No,1,Bachelor,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize,2011-02-03

In [38]:
df['Coverage'].describe()

count    9134.000000
mean        1.480622
std         0.655817
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         3.000000
Name: Coverage, dtype: float64

In [39]:
df['Education'].value_counts()

Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: Education, dtype: int64

In [40]:
df['Education'] = df['Education'].replace({'College':'Bachelor'})

In [41]:
df['Education'].value_counts()

Bachelor                5429
High School or Below    2622
Master                   741
Doctor                   342
Name: Education, dtype: int64

In [42]:
education_dictionary = [{'col': 'Education','mapping':{"High School or Below":1, 
                                                       "Bachelor":2, "Master": 3,
                                                      "Doctor": 4}}]

education_encoder = ce.OrdinalEncoder(cols='Education', mapping=education_dictionary)

df = education_encoder.fit_transform(df)

df['Education'].value_counts()

2    5429
1    2622
3     741
4     342
Name: Education, dtype: int64

In [43]:
df.head()

,State,Customer Lifetime Value,Response,Coverage,Education,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Activation_date
0,Washington,2763.519279,No,1,2,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize,2011-02-24
1,Arizona,6979.535903,No,2,2,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize,2011-01-31
2,Nevada,12887.431650,No,3,2,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize,2011-02-19
3,California,7645.861827,No,1,2,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize,2011-01-20
4,Washington,2813.692575,No,1,2,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize,2011-02-03

In [44]:
df = df.round({"Customer Lifetime Value": 2, "Total Claim Amount": 2})

In [45]:
df.head()

,State,Customer Lifetime Value,Response,Coverage,Education,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Activation_date
0,Washington,2763.52,No,1,2,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.81,Two-Door Car,Medsize,2011-02-24
1,Arizona,6979.54,No,2,2,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.46,Four-Door Car,Medsize,2011-01-31
2,Nevada,12887.43,No,3,2,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.47,Two-Door Car,Medsize,2011-02-19
3,California,7645.86,No,1,2,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.88,SUV,Medsize,2011-01-20
4,Washington,2813.69,No,1,2,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.13,Four-Door Car,Medsize,2011-02-03

In [46]:
df["EmploymentStatus"].describe()

count         9134
unique           5
top       Employed
freq          5698
Name: EmploymentStatus, dtype: object

In [47]:
df["EmploymentStatus"].value_counts()

Employed         5698
Unemployed       2317
Medical Leave     432
Disabled          405
Retired           282
Name: EmploymentStatus, dtype: int64

In [49]:
employment_encoder = ce.OneHotEncoder(cols="EmploymentStatus", use_cat_names = True)

df = employment_encoder.fit_transform(df)

df.head()

C:\Users\mosto\anaconda3\envs\RTX-2080\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

,State,Customer Lifetime Value,Response,Coverage,Education,EmploymentStatus_Employed,EmploymentStatus_Unemployed,EmploymentStatus_Medical Leave,EmploymentStatus_Disabled,EmploymentStatus_Retired,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Activation_date
0,Washington,2763.52,No,1,2,1,0,0,0,0,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.81,Two-Door Car,Medsize,2011-02-24
1,Arizona,6979.54,No,2,2,0,1,0,0,0,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.46,Four-Door Car,Medsize,2011-01-31
2,Nevada,12887.43,No,3,2,1,0,0,0,0,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.47,Two-Door Car,Medsize,2011-02-19
3,California,7645.86,No,1,2,0,1,0,0,0,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.88,SUV,Medsize,2011-01-20
4,Washington,2813.69,No,1,2,1,0,0,0,0,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.13,Four-Door Car,Medsize,2011-02-03

In [50]:
df.shape

(9134, 27)

In [51]:
df = df.rename(columns = {"EmploymentStatus_Employed": "Employed", "EmploymentStatus_Unemployed": "Unemployed",
                                      "EmploymentStatus_Disabled": "Disabled", "EmploymentStatus_Retired": "Retired",
                                      "EmploymentStatus_Medical Leave": "Medical_Leave"})

In [52]:
df.head()

,State,Customer Lifetime Value,Response,Coverage,Education,Employed,Unemployed,Medical_Leave,Disabled,Retired,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Activation_date
0,Washington,2763.52,No,1,2,1,0,0,0,0,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.81,Two-Door Car,Medsize,2011-02-24
1,Arizona,6979.54,No,2,2,0,1,0,0,0,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.46,Four-Door Car,Medsize,2011-01-31
2,Nevada,12887.43,No,3,2,1,0,0,0,0,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.47,Two-Door Car,Medsize,2011-02-19
3,California,7645.86,No,1,2,0,1,0,0,0,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.88,SUV,Medsize,2011-01-20
4,Washington,2813.69,No,1,2,1,0,0,0,0,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.13,Four-Door Car,Medsize,2011-02-03

In [53]:
df['Gender'].value_counts()

F    4658
M    4476
Name: Gender, dtype: int64

In [55]:
gender_encoder = ce.OneHotEncoder(cols = "Gender", use_cat_names=True)

df = gender_encoder.fit_transform(df)

C:\Users\mosto\anaconda3\envs\RTX-2080\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

KeyError: 'Gender'

In [56]:
df.head()

,State,Customer Lifetime Value,Response,Coverage,Education,Employed,Unemployed,Medical_Leave,Disabled,Retired,Gender_F,Gender_M,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Activation_date
0,Washington,2763.52,No,1,2,1,0,0,0,0,1,0,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.81,Two-Door Car,Medsize,2011-02-24
1,Arizona,6979.54,No,2,2,0,1,0,0,0,1,0,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.46,Four-Door Car,Medsize,2011-01-31
2,Nevada,12887.43,No,3,2,1,0,0,0,0,1,0,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.47,Two-Door Car,Medsize,2011-02-19
3,California,7645.86,No,1,2,0,1,0,0,0,0,1,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.88,SUV,Medsize,2011-01-20
4,Washington,2813.69,No,1,2,1,0,0,0,0,0,1,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.13,Four-Door Car,Medsize,2011-02-03

In [57]:
df = df.rename(columns = {"Gender_M": "Male", "Gender_F": "Female"})

In [58]:
df.head()

,State,Customer Lifetime Value,Response,Coverage,Education,Employed,Unemployed,Medical_Leave,Disabled,Retired,Female,Male,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Activation_date
0,Washington,2763.52,No,1,2,1,0,0,0,0,1,0,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.81,Two-Door Car,Medsize,2011-02-24
1,Arizona,6979.54,No,2,2,0,1,0,0,0,1,0,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.46,Four-Door Car,Medsize,2011-01-31
2,Nevada,12887.43,No,3,2,1,0,0,0,0,1,0,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.47,Two-Door Car,Medsize,2011-02-19
3,California,7645.86,No,1,2,0,1,0,0,0,0,1,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.88,SUV,Medsize,2011-01-20
4,Washington,2813.69,No,1,2,1,0,0,0,0,0,1,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.13,Four-Door Car,Medsize,2011-02-03

In [59]:
df["Location Code"].describe()

count         9134
unique           3
top       Suburban
freq          5779
Name: Location Code, dtype: object

In [61]:
df["Location Code"].value_counts()

Suburban    5779
Rural       1773
Urban       1582
Name: Location Code, dtype: int64

In [62]:
location_encoder = ce.OneHotEncoder(cols = "Location Code", use_cat_names=True)

df = location_encoder.fit_transform(df)

df.head()

C:\Users\mosto\anaconda3\envs\RTX-2080\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

,State,Customer Lifetime Value,Response,Coverage,Education,Employed,Unemployed,Medical_Leave,Disabled,Retired,Female,Male,Income,Location Code_Suburban,Location Code_Rural,Location Code_Urban,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Activation_date
0,Washington,2763.52,No,1,2,1,0,0,0,0,1,0,56274,1,0,0,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.81,Two-Door Car,Medsize,2011-02-24
1,Arizona,6979.54,No,2,2,0,1,0,0,0,1,0,0,1,0,0,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.46,Four-Door Car,Medsize,2011-01-31
2,Nevada,12887.43,No,3,2,1,0,0,0,0,1,0,48767,1,0,0,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.47,Two-Door Car,Medsize,2011-02-19
3,California,7645.86,No,1,2,0,1,0,0,0,0,1,0,1,0,0,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.88,SUV,Medsize,2011-01-20
4,Washington,2813.69,No,1,2,1,0,0,0,0,0,1,43836,0,1,0,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.13,Four-Door Car,Medsize,2011-02-03

In [63]:
df = df.rename(columns = {"Location Code_Urban": "Urban", "Location Code_Rural": "Rural", 
                                                "Location Code_Suburban":"Suburban"})

In [64]:
df.head()

,State,Customer Lifetime Value,Response,Coverage,Education,Employed,Unemployed,Medical_Leave,Disabled,Retired,Female,Male,Income,Suburban,Rural,Urban,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Activation_date
0,Washington,2763.52,No,1,2,1,0,0,0,0,1,0,56274,1,0,0,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.81,Two-Door Car,Medsize,2011-02-24
1,Arizona,6979.54,No,2,2,0,1,0,0,0,1,0,0,1,0,0,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.46,Four-Door Car,Medsize,2011-01-31
2,Nevada,12887.43,No,3,2,1,0,0,0,0,1,0,48767,1,0,0,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.47,Two-Door Car,Medsize,2011-02-19
3,California,7645.86,No,1,2,0,1,0,0,0,0,1,0,1,0,0,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.88,SUV,Medsize,2011-01-20
4,Washington,2813.69,No,1,2,1,0,0,0,0,0,1,43836,0,1,0,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.13,Four-Door Car,Medsize,2011-02-03

In [65]:
df['Vehicle Size'].value_counts()

Medsize    6424
Small      1764
Large       946
Name: Vehicle Size, dtype: int64

In [66]:
vehicle_dictionary = [{'col': 'Vehicle Size','mapping':{"Small":1, 
                                                       "Medsize":2, "Large": 3}}]

vehicle_encoder = ce.OrdinalEncoder(cols="Vehicle Size", mapping=vehicle_dictionary)

df = vehicle_encoder.fit_transform(df)

In [67]:
df.head()

,State,Customer Lifetime Value,Response,Coverage,Education,Employed,Unemployed,Medical_Leave,Disabled,Retired,Female,Male,Income,Suburban,Rural,Urban,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Activation_date
0,Washington,2763.52,No,1,2,1,0,0,0,0,1,0,56274,1,0,0,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.81,Two-Door Car,2,2011-02-24
1,Arizona,6979.54,No,2,2,0,1,0,0,0,1,0,0,1,0,0,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.46,Four-Door Car,2,2011-01-31
2,Nevada,12887.43,No,3,2,1,0,0,0,0,1,0,48767,1,0,0,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.47,Two-Door Car,2,2011-02-19
3,California,7645.86,No,1,2,0,1,0,0,0,0,1,0,1,0,0,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.88,SUV,2,2011-01-20
4,Washington,2813.69,No,1,2,1,0,0,0,0,0,1,43836,0,1,0,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.13,Four-Door Car,2,2011-02-03

In [68]:
df.shape

(9134, 30)

In [69]:
columns_to_encode = ["Marital Status", "Policy Type", "Policy", "Sales Channel", "Vehicle Class"]
columns_encoder = ce.OneHotEncoder(cols = columns_to_encode, use_cat_names=True)

df = columns_encoder.fit_transform(df)

C:\Users\mosto\anaconda3\envs\RTX-2080\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [75]:
df = df.rename(columns = {"Marital Status_Married": "Married", 
                                     "Marital Status_Divorced":"Divorced",
                                     "Marital Status_Single": "Single",
                                     "Policy Type_Personal Auto": "Personal Auto",
                                     "Policy Type_Corporate Auto": "Corporate Auto",
                                     "Policy Type_Special Auto": "Special Auto",
                                     "Policy_Personal L3": "Personal L3", 
                                     "Policy_Corporate L3": "Corporate L3",
                                     "Policy_Corporate L2": "Corporate L2",
                                     "Policy_Corporate L1": "Corporate L1",
                                     "Policy_Personal L2": "Personal L2",
                                     "Policy_Personal L1": "Personal L1",
                                     "Policy_Special L1": "Special L1",
                                     "Policy_Special L2": "Special L2",
                                     "Policy_Special L3": "Special L3",
                                     "Sales Channel_Call Center": "Call Center",
                                     "Sales Channel_Agent": "Agent",
                                     "Sales Channel_Web": "Web",
                                     "Sales Channel_Branch": "Branch",
                                     "Vehicle Class_Two-Door Car": "Two Door",
                                     "Vehicle Class_SUV": "SUV",
                                     "Vehicle Class_Sports Car": "Sports Car",
                                     "Vehicle Class_Four-Door Car": "Four Door",
                                     "Vehicle Class_Luxury SUV": "Luxury SUV",
                                     "Vehicle Class_Luxury Car": "Luxury Car"})

In [76]:
df.head()

,State,Customer Lifetime Value,Response,Coverage,Education,Employed,Unemployed,Medical_Leave,Disabled,Retired,Female,Male,Income,Suburban,Rural,Urban,Married,Single,Divorced,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Corporate Auto,Personal Auto,Special Auto,Corporate L3,Personal L3,Corporate L2,Personal L1,Special L2,Corporate L1,Personal L2,Special L1,Special L3,Renew Offer Type,Agent,Call Center,Web,Branch,Total Claim Amount,Two Door,Four Door,SUV,Luxury SUV,Sports Car,Luxury Car,Vehicle Size,Activation_date
0,Washington,2763.52,No,1,2,1,0,0,0,0,1,0,56274,1,0,0,1,0,0,69,32,5,0,1,1,0,0,1,0,0,0,0,0,0,0,0,Offer1,1,0,0,0,384.81,1,0,0,0,0,0,2,2011-02-24
1,Arizona,6979.54,No,2,2,0,1,0,0,0,1,0,0,1,0,0,0,1,0,94,13,42,0,8,0,1,0,0,1,0,0,0,0,0,0,0,Offer3,1,0,0,0,1131.46,0,1,0,0,0,0,2,2011-01-31
2,Nevada,12887.43,No,3,2,1,0,0,0,0,1,0,48767,1,0,0,1,0,0,108,18,38,0,2,0,1,0,0,1,0,0,0,0,0,0,0,Offer1,1,0,0,0,566.47,1,0,0,0,0,0,2,2011-02-19
3,California,7645.86,No,1,2,0,1,0,0,0,0,1,0,1,0,0,1,0,0,106,18,65,0,7,1,0,0,0,0,1,0,0,0,0,0,0,Offer1,0,1,0,0,529.88,0,0,1,0,0,0,2,2011-01-20
4,Washington,2813.69,No,1,2,1,0,0,0,0,0,1,43836,0,1,0,0,1,0,73,12,44,0,1,0,1,0,0,0,0,1,0,0,0,0,0,Offer1,1,0,0,0,138.13,0,1,0,0,0,0,2,2011-02-03

In [71]:
df.shape

(9134, 50)

In [72]:
df['State'].describe()

count           9134
unique             5
top       California
freq            3150
Name: State, dtype: object

In [73]:
df['State'].value_counts()

California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: State, dtype: int64

In [80]:
state_encoder = ce.OneHotEncoder(cols="State", use_cat_names=True)

df =state_encoder.fit_transform(df)


df = df.rename(columns = {"State_Arizona":"Arizona", 
                                     "State_Oregon": "Oregon",
                                     "State_California": "California",
                                     "State_Nevada": "Nevada",
                                     "State_Washington": "Washington"})

C:\Users\mosto\anaconda3\envs\RTX-2080\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [81]:
df.shape

(9134, 54)

In [82]:
df.head()

,Washington,Arizona,Nevada,California,Oregon,Customer Lifetime Value,Response,Coverage,Education,Employed,Unemployed,Medical_Leave,Disabled,Retired,Female,Male,Income,Suburban,Rural,Urban,Married,Single,Divorced,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Corporate Auto,Personal Auto,Special Auto,Corporate L3,Personal L3,Corporate L2,Personal L1,Special L2,Corporate L1,Personal L2,Special L1,Special L3,Renew Offer Type,Agent,Call Center,Web,Branch,Total Claim Amount,Two Door,Four Door,SUV,Luxury SUV,Sports Car,Luxury Car,Vehicle Size,Activation_date
0,1,0,0,0,0,2763.52,No,1,2,1,0,0,0,0,1,0,56274,1,0,0,1,0,0,69,32,5,0,1,1,0,0,1,0,0,0,0,0,0,0,0,Offer1,1,0,0,0,384.81,1,0,0,0,0,0,2,2011-02-24
1,0,1,0,0,0,6979.54,No,2,2,0,1,0,0,0,1,0,0,1,0,0,0,1,0,94,13,42,0,8,0,1,0,0,1,0,0,0,0,0,0,0,Offer3,1,0,0,0,1131.46,0,1,0,0,0,0,2,2011-01-31
2,0,0,1,0,0,12887.43,No,3,2,1,0,0,0,0,1,0,48767,1,0,0,1,0,0,108,18,38,0,2,0,1,0,0,1,0,0,0,0,0,0,0,Offer1,1,0,0,0,566.47,1,0,0,0,0,0,2,2011-02-19
3,0,0,0,1,0,7645.86,No,1,2,0,1,0,0,0,0,1,0,1,0,0,1,0,0,106,18,65,0,7,1,0,0,0,0,1,0,0,0,0,0,0,Offer1,0,1,0,0,529.88,0,0,1,0,0,0,2,2011-01-20
4,1,0,0,0,0,2813.69,No,1,2,1,0,0,0,0,0,1,43836,0,1,0,0,1,0,73,12,44,0,1,0,1,0,0,0,0,1,0,0,0,0,0,Offer1,1,0,0,0,138.13,0,1,0,0,0,0,2,2011-02-03

In [83]:
from sklearn.model_selection import train_test_split


#Split into Train and Test dataset
train, test = train_test_split(df, train_size= .80 , test_size = .20, random_state=42)



#Split into Train and Validation dataset

train , val = train_test_split(train, train_size=.85, test_size=.15, random_state=42)

In [84]:
print('Entire dataset dimesion: %d X %d' %(df.shape[0],df.shape[1]))


print('Training dataset dimesion: %d X %d' %(train.shape[0],train.shape[1]))

print('Testing dataset dimesion: %d X %d' %(test.shape[0],test.shape[1]))

print('Validation dataset dimesion: %d X %d' %(val.shape[0],val.shape[1]))

Entire dataset dimesion: 9134 X 54
Training dataset dimesion: 6210 X 54
Testing dataset dimesion: 1827 X 54
Validation dataset dimesion: 1097 X 54

In [85]:
df.to_csv('C:/Users/mosto/REPOSITORY/Prediction_of_Insurance_Premium/data/cleaned_data.csv')

In [ ]:
train.to_csv('C:/Users/mosto/REPOSITORY/Prediction_of_Insurance_Premium/data/Train.csv')